@font-face {
    font-family: 'Threadit';
    src: url('../../static/rocko-flf.ttf');
    font-weight: normal;
    font-style: normal;
}

.subreddit-details-div {
    width: 100%;
    margin-left: 2px;
}


.banner-img {
    height: 200px;
    width: 100%;
    display: block;
}

.profile-pic-sr-img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 240px;
    left: 350px;
}

.gray-bg {
    width: 100%;
    height: 100px;
    background-color: #1A1A1B;
    border: 1px solid transparent;
    display: flex;
    flex-direction: row;
}

.sr-details-title {
    color: #D7DADC;
    font-family: Helvetica;
    font-size: 30px;
}

.span-container {
    margin-left: 190px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.sr-details-subtitle {
    margin-top: 5px;
    color: #818384;
    font-family: Helvetica;
}

.join-sr-btn-div {
    margin-left: 30px;
    margin-top: 15px;
}

.join-sr-btn {
    height: 40px;
    width: 100px;
    border: 1px solid black;
    border-radius: 25px;
    font-family: 'Threadit';
    font-size: 15px;
    background-color: #005791;
    cursor: pointer;
    color: whitesmoke;
}

.join-sr-btn:hover {
    background-color: #0066aa;
}

.join-sr-btn.creator {
    background-color: rgba(0, 44, 147, 0.892);
}

.join-sr-btn-div .fa-award {
    color: #fee100;
    margin-right: 5px;
}

.create-post-div {
    border: 1px rgb(57, 57, 57) solid;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 64%;
    margin-left: 30px;
    height: 60px;
    align-items: center;
}

.posting-profile-pic-img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.create-post-sr {
    height: 40px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    background-color: #1A1A1B;
    font-family: Helvetica;
    font-size: 16px;
    padding-left: 20px;
    width: 480px;
    border: 0.5px solid rgb(43, 43, 43);
}

.create-post-sr:hover {
    border: 1px solid rgb(118, 118, 118);
}

.create-post-sr:focus {
    outline: none;
}

.create-post-div .fa-solid {
    color: #6a6a6a;
    font-size: 20px;
    cursor: pointer;
}

.img-create-post {
    margin-left: 15px;
}

.img-create-post, .link-create-post {
    padding: 10px;
    border-radius: 10px;
}

.img-create-post:hover, .link-create-post:hover {
    background-color: #1A1A1B;
}

.no-post-msg-div {
    border: gray 1px solid;
    width: 65%;
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 10px;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1A1A1B;
}

.no-post-msg {
    color: rgb(156, 156, 156);
    font-family: Helvetica;
    margin-left: 20px;
}

.posted-by.subreddit {
    margin-left: 10px;
}

.feed-and-details-div {
    display: flex;
    flex-direction: row;
}

.details-div {
    border: 1px solid rgb(71, 71, 71);
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 25px;
    width: 300px;
    background-color: #1A1A1B;
    height: fit-content;
    padding-bottom: 30px;
}

.abt-com-div {
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about-community {
    color: #818384;
    font-family: 'Threadit';
    font-size: 17px;
    text-decoration: underline;
}

.sr-details-desc-div {
    margin-left: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
    width: 270px;
    padding-bottom: 15px;
}

.sr-details-desc {
    font-weight: 400;
    margin-bottom: 30px;
    font-family: Helvetica;
    color: #D3D5D7;
}

.created-at-sr {
    display: flex;
    justify-content: center;
}

.created-at-sr .fa-solid {
    margin-right: 10px;
    color: #9c9c9c;
    font-size: 20px;
}

.created-at-text {
    font-family: 'Threadit';
    color: #6a6a6a;
}

.update-sr-btn {
    margin-right: 15px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: #818384;
    cursor: pointer;
}

.update-sr-btn:hover {
    color: #b5b5b5;
}

.join-sr-btn .fa-user-plus {
    margin-right: 7px;
}

.join-sr-btn.joined {
    background-color: rgb(0, 168, 176);
}

.join-sr-btn.joined .fa-check {
    margin-right: 5px;
}

.sr-member-div, .moderated-by-div {
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 15px;
    width: 270px;
    margin-left: 15px;
    padding-bottom: 15px;
}

.members-text {
    color: rgb(205, 205, 205);
    font-family: 'Threadit';
    font-size: 16px;
}

.moderator-text {
    color: rgb(205, 205, 205);
    font-family: 'Threadit';
    font-size: 14px;
}

.post-header-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.edit-delete-divs-post,
.edit-post-btn-container,
.delete-post-btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.edit-post-btn-container,
.delete-post-btn-container {
    margin-right: 10px;
    color: #6a6a6a;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}

.edit-post-btn-container:hover,
.delete-post-btn-container:hover {
    background-color: rgba(128, 128, 128, 0.1);
}
