
.create-comment-component {
    background-color: rgb(21, 21, 21);
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 15px;
    border: 1px solid rgb(112, 112, 112);
    border-radius: 10px;
}


@media screen and (max-height: 719px) {
    .create-comment-component{
        height: 400px;
        margin-top: 80px;
        padding-bottom: 55px;
    }
}
