/* TODO Add site wide styles */

/* Hide the default scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(30, 30, 30);
}

  /* Create a dark background for the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #4f4f4f;
    border-radius: 3px;
}

  /* Change the cursor style on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    cursor: pointer;
}



body {
    margin-top: 86px;
    margin-left: 270px;
    background-color:#000000;
    overflow-y: auto;
    border: transparent 1px solid;
}
