@font-face {
    font-family: 'Threadit';
    src: url('../../static/rocko-flf.ttf');
    font-weight: normal;
    font-style: normal;
}



.post-feed-div {
    width: 70%;
    margin-top: 50px;
    overflow-y: auto;
}


.post-box {
    border: 2px purple solid;
    min-height: 200px;
    overflow-y: auto;
}

.vote-bar {
    border: 1px solid green;
    width: 50px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.total-votes {
    color: white;
}
