
@font-face {
    font-family: 'Threadit';
    src: url('../../static/rocko-flf.ttf');
    font-weight: normal;
    font-style: normal;
}



.feed-bar-div {
    position: fixed;
    left: 0px;
    top: 86px;
    height: 100vh;
    width: 270px;
    background-color: rgb(24, 24, 24);
}

.feed-margin-div {
    margin-top: 10px;
}

.feeds-text {
    color: rgb(103, 103, 103);
    font-family: Helvetica;
    font-size: 10px;
    margin-left: 25px;
}

.home-channel-div, .gaming-channel-div {
    margin-top: 15px;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.popular-channel-div, .sports-channel-div,
.business-channel-div, .crypto-channel-div,
.tv-channel-div, .celeb-channel-div,
.more-topics-div {
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.home-channel-div:hover,
.popular-channel-div:hover,
.gaming-channel-div:hover,
.sports-channel-div:hover,
.business-channel-div:hover,
.crypto-channel-div:hover,
.tv-channel-div:hover,
.celeb-channel-div:hover,
.more-topics-div:hover {
    background-color: rgba(51, 51, 51, 0.462);
}

.home-channel-div .fa-house {
    color: rgb(184, 184, 184);
    font-size: 18px;
    margin-right: 10px;
    padding-left: 25px;
}

.popular-channel-div .fa-arrow-trend-up {
    color: rgb(184, 184, 184);
    font-size: 17px;
    margin-right: 13px;
    padding-left: 25px;
}

.home-channel-text, .popular-channel-text {
    font-family: Helvetica;
    color:rgb(184, 184, 184);
    font-weight: 300;
    font-size: 14px;
}

.topic-margin-div {
    margin-top: 20px;
}

.topics-text {
    color: rgb(103, 103, 103);
    font-family: Helvetica;
    font-size: 10px;
    margin-left: 25px;
}

.gaming-channel-div .fa-twitch,
.sports-channel-div .fa-basketball,
.business-channel-div .fa-coins,
.crypto-channel-div .fa-bitcoin,
.celeb-channel-div .fa-star {
    color: rgb(184, 184, 184);
    font-size: 20px;
    margin-right: 13px;
    padding-left: 25px;
}

.tv-channel-div .fa-tv {
    color: rgb(184, 184, 184);
    font-size: 17px;
    margin-right: 13px;
    padding-left: 25px;
}

.more-topics-div .fa-ellipsis {
    color: rgb(184, 184, 184);
    font-size: 20px;
    margin-right: 15px;
    padding-left: 28px;
}

.join-threadit-div {
    padding-left: 25px;
    border-top: 1px solid rgb(36, 36, 36);
    display: flex;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 15px;
}

.join-text {
    color: rgb(215, 215, 215);
    font-family: 'Threadit';
    font-size: 14px;
    font-weight: 100;
    line-height: 1.5;
    width: 80%;
}

.join-now-btn {
    display: flex;
    justify-content: center;
}

.join-now-btn button {
    height: 40px;
    width: 240px;
    border: 1px black solid;
    border-radius: 20px;
    background-color: rgb(0, 34, 112);
    font-family: 'Threadit';
    font-size: 15px;
    color: rgb(219, 219, 219);
    cursor: pointer;
}

.join-now-btn button:hover {
    background-color: rgb(0, 57, 136);
}

.join-div {
    position: fixed;
    bottom: 0;
    width: 270px;
    padding-bottom: 20px;
}



@media screen and (max-height: 728px) {
    .join-div {
        display: none;
    }
}
