.join-div {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 270px;
    padding-bottom: 20px;
    background-color: rgb(25, 25, 25);
    z-index: 2;
}


.join-threadit-div {
    padding-left: 25px;
    border-top: 1px solid rgb(36, 36, 36);
    display: flex;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 15px;
}

.join-now-btn {
    display: flex;
    justify-content: center;
}


.join-now-btn button {
    height: 40px;
    width: 240px;
    border: 1px black solid;
    border-radius: 20px;
    background-color: rgb(0, 34, 112);
    font-family: 'Threadit';
    font-size: 15px;
    color: rgb(219, 219, 219);
    cursor: pointer;
}

.join-now-btn button:hover {
    background-color: rgb(0, 57, 136);
}

.join-text {
    color: rgb(215, 215, 215);
    font-family: 'Threadit';
    font-size: 14px;
    font-weight: 100;
    line-height: 1.5;
    width: 80%;
}
