@font-face {
    font-family: 'Threadit';
    src: url('../../static/rocko-flf.ttf');
    font-weight: normal;
    font-style: normal;
}


.project-info-div {
    display: flex;
    align-items: center;
}


.image-bg-proj-info {
    overflow: hidden;
    margin-left: 10px;
    border: 1px solid rgb(40, 40, 40);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.bg-image-proj {
    object-fit: contain;
}


.text-over-bg {
    position: absolute;
    top: 150px;
    left: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    margin-right: 130px;
}

.title-proj {
    color: rgb(232, 232, 232);
    font-family: 'Threadit';
    font-size: 40px;
    text-shadow: 0 0 10px rgba(233, 233, 233, 0.5);
    transition: transform 250ms;
    cursor: pointer;
}

.title-proj:hover {
    transform: translateY(-10px);
}

.subheading-proj {
    color: rgb(249, 249, 249);
    font-family: 'Threadit';
    font-size: 25px;
    margin-top: 25px;
    text-shadow: 0 0 5px rgba(222, 222, 222, 0.5);
    transition: transform 250ms;
}

.subheading-proj:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.threadit-desc-proj {
    color: rgb(255, 255, 255);
    font-family: 'Threadit';
    font-size: 16px;
    margin-top: 25px;
    text-shadow: 0 0 3px rgba(237, 237, 237, 0.5);
    line-height: 1.5;
    transition: transform 250ms;
    cursor: pointer;
}

.threadit-desc-proj:hover {
    transform: translateY(-10px);
}

.title-proj-dev {
    margin-top: 25px;
    color: rgb(31, 31, 31);
    font-family: 'Threadit';
    font-size: 35px;
    text-shadow: 0 0 10px rgba(233, 233, 233, 0.5);
}


.creator-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(32, 32, 32);
    width: 450px;
    border-radius: 5px;
    margin-top: 15px;
    transition: transform 250ms;
    padding-bottom: 25px;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.151);
}

.creator-profile:hover {
    transform: translateY(-10px);
}

.profile-pic-creator {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.creator-name {
    color: rgb(22, 22, 22);
    font-family: 'Threadit';
    font-size: 25px;
    margin-top: 15px;
    text-shadow: 0 0 5px rgba(50, 50, 50, 0.5);
}

.profile-pic {
    width: 200px;
    border-radius: 50%;
}

.creator-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.creator-links a {
    text-decoration: none;
    color: rgb(223, 223, 223);
    text-shadow: 0 0 2px rgba(153, 153, 153, 0.5);
    font-family: 'Threadit';
    font-size: 25px;
    margin: 10px;
    padding: 10px;
    background-color: rgba(43, 43, 43, 0.594);
    border-radius: 15px;
}

.creator-links a:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
}

.tech-used {
    margin-bottom: 25px;
    margin-top: 30px;
}

.tech-stack-desc {
    color: rgb(255, 255, 255);
    font-family: 'Threadit';
    font-size: 16px;
    margin-top: 25px;
    text-shadow: 0 0 4px rgb(151, 151, 151);
    line-height: 1.5;
    transition: transform 200ms;
    cursor: pointer;
}

.tech-stack-desc:hover {
    transform: translateY(-10px);
}

.stacks-used-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
}

.stacks-used {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stack-items {
    color: rgb(255, 255, 255);
    font-family: 'Threadit';
    font-size: 16px;
    margin-top: 25px;
    text-shadow: 0 0 3px rgb(152, 152, 152);
    line-height: 1.5;
    transition: transform 500ms;
    cursor: pointer;
}

.stack-items:hover {
    transform: translateY(-10px);
}

.stack-title {
    color: rgb(255, 255, 255);
    font-family: 'Threadit';
    font-size: 25px;
    text-shadow: 0 0 10px rgba(136, 136, 136, 0.827);
    transition: transform 250ms;
    cursor: pointer;
}

.stack-title:hover {
    transform: translateY(-10px);
}

.tech-stack-title {
    color: rgb(255, 255, 255);
    font-family: 'Threadit';
    font-size: 40px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);

    cursor: pointer;
}

.tech-used {
    transition: transform 250ms;
}

.tech-used:hover {
    transform: translateY(-10px);
}
