
@font-face {
    font-family: 'Threadit';
    src: url('../../static/rocko-flf.ttf');
    font-weight: normal;
    font-style: normal;
}


.login-div {
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: rgb(21, 21, 21);
    border-radius: 10px;
    position: fixed;
    left: 35%;
    top: 120px;
}

.login-headings {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    margin-left: 60px;
    margin-right: 60px;
}


.login-header {
    font-family: 'Threadit';
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(214, 214, 214);
}

.login-tos {
    font-family: 'Helvetica';
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: rgb(194, 194, 194);
}

.tos-link {
    font-family: 'Helvetica';
    font-size: 13px;
    color: rgb(0, 213, 255);
}

.login-form {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 60px;
}

.login-form input {
    border: none;
    border-radius: 20px;
    height: 45px;
    margin-bottom: 12px;
    font-size: 13px;
    font-family: 'Threadit';
    padding-left: 15px;
    color: rgb(102, 102, 102);
    background-color: rgb(12, 12, 12);
}

.login-form input:focus {
    outline: none;
}


.login-submit-btn, .demo-user-btn {
    border: none;
    margin-top: 15px;
    border-radius: 20px;
    height: 40px;
    background-color: #0079D3;
    font-family: 'Threadit';
    font-size: 15px;
    color: rgb(232, 232, 232);
    cursor: pointer;
}

.login-submit-btn:hover {
    background-color: #027ede;
}

.signup-redirect-text {
    font-family: 'Helvetica';
    font-size: 13px;
    line-height: 1.5;
    color: rgb(194, 194, 194);
}

.signup-redirect {
    font-family: 'Helvetica';
    color: #0079D3;
    text-decoration: underline;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.signup-redirect-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


.login-error-div {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.login-error-text {
    color: rgba(141, 0, 0, 0.761);
    font-size: 15px;
    font-family: 'Threadit';
}
