
@font-face {
    font-family: 'Threadit';
    src: url('../../static/rocko-flf.ttf');
    font-weight: normal;
    font-style: normal;
}


.not-found-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.not-found-img {
    width: 50%;
}


.not-found-header {
    font-family: 'Threadit';
    margin-bottom: 100px;
}
