
@font-face {
    font-family: 'Threadit';
    src: url('../../static/rocko-flf.ttf');
    font-weight: normal;
    font-style: normal;
}

.nav-bar-container {
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(49, 49, 49);
    background-color: rgb(22, 22, 22);
    z-index: 2;
}

.nav-bar-container img {
    height: 60px;
    margin-top: 15px;
    margin-left: 15px;
}

.nav-search-bar {
    height: 40px;
    border: 1px gray solid;
    background-color: rgb(37, 37, 37);
    border-radius: 20px;
    color: rgba(245, 245, 245, 0.621);
    font-family: Helvetica;
    width: 50%;
    margin-left: 15px;
    margin-right: 15px;
}


#search-bar {
    font-size: 15px;
    background-image: url('../../static/search.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 40px;
    box-shadow: none;
    -webkit-appearance: none;
}

#search-bar:hover {
    border: 1px white solid;
    background-color: rgb(26, 26, 26);
}


.nav-search-bar:focus {
    outline: none;
}


.signup-btn-div button {
    height: 40px;
    width: 130px;
    border: 1px solid #0079D3;
    background-color: transparent;
    font-size: 16px;
    border-radius: 20px;
    font-family: Helvetica;
    color: #0079D3;
    margin-right: 15px;
    cursor: pointer;
}

.signup-btn-div button:hover {
    background-color: #0078d320;
}

.login-btn-div button {
    margin-right: 35px;
    height: 40px;
    width: 130px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-family: Helvetica;
    background-color: #0079D3;
    color: whitesmoke;
    cursor: pointer;
}

.login-btn-div button:hover {
    background-color: #058af0;
}

.logo {
    cursor: pointer;
}

.login-signup-divs {
    display: flex;
    flex-direction: row;
}


.profile-btn {
    color: rgb(74, 74, 74);
    margin-right: 50px;
    font-size: 20px;
    cursor: pointer;
}

.profile-btn .fa-user-circle {
    margin-left: 5px;
}


.dropdown-menu {
    position: fixed;
    right: 0px;
    top: 85px;
    border: black solid 1px;
    border-radius: 10px;
    background-color: rgb(22, 22, 22);
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

.nav-dropdown-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.welcome-text {
    font-family: 'Threadit';
    color: rgb(214, 214, 214);
    font-size: 17px;
    margin-top: 15px;
    border-bottom: 1px solid gray;
    margin-bottom: 15px;
}

.create-com-div {
    font-family: 'Threadit';
    font-size: 15px;
    color: rgb(214, 214, 214);
    margin-bottom: 15px;
}

.create-subreddit-btn {
    background-color: transparent;
    border: none;
    font-family: 'Threadit';
    font-size: 15px;
    color: rgb(141, 141, 141);
    cursor: pointer;
}

.create-subreddit-btn:hover,
.owned-subreddit-span:hover,
.my-com-span:hover {
    text-decoration: underline;
}

.owned-subreddit-div, .my-com-div {
    font-family: 'Threadit';
    font-size: 15px;
    color: rgb(214, 214, 214);
    margin-bottom: 15px;
}


.dropdown-menu a {
    text-decoration: none;
    color: rgb(141, 141, 141);
}


.logout-btn {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(0, 110, 188);
    color: rgb(225, 225, 225);
    font-family: 'Threadit';
    border: none;
    cursor: pointer;
    margin-bottom: 25px;
}

.logout-btn:hover {
    background-color: rgba(0, 110, 188, 0.669);
}


.search-results-container {
    position: fixed;
    width: 52%;
    left: 20%;
    top: 63px;
    border-radius: 10px;
    padding: 3px;
    background-color: rgb(15, 15, 15);
}

.search-results-container-user {
    position: fixed;
    width: 52%;
    left: 28%;
    top: 63px;
    border-radius: 10px;
    padding: 3px;
    background-color: rgb(15, 15, 15);
}

.search-result-box {
    height: 40px;
    width: 100%;
    background-color: rgb(15, 15, 15);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3px;
    border-radius: 5px;
}

.search-result-box:hover {
    background-color: rgba(56, 56, 56, 0.434);
}

.search-results-container a {
    text-decoration: none;
}

.result-text {
    font-family: 'Threadit';
    color: rgb(150, 150, 150);
    padding-left: 20px;
}
