
@font-face {
    font-family: 'Threadit';
    src: url('../../static/rocko-flf.ttf');
    font-weight: normal;
    font-style: normal;
}

.update-sr-div {
    max-height: 610px;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(21, 21, 21);
    border-radius: 10px;
    border: black 1px solid;
    position: fixed;
    left: 35%;
    top: 15%;
    overflow-y: auto;
}


.placeholder-update {
    font-size: 20px;
    color: rgb(124, 124, 124);
    position: absolute;
    margin-top: 6px;
    margin-left: 10px;
    font-family: 'Threadit';
}
